@media  screen and (max-width: 1200px) {
    .header{
        gap: 30pxpx;
    }
    .footer{
        margin-left: 50px;
    }
}
@media screen and(max-width: 992px) {
    .header{
        gap: 50px;
    }
}

@media screen and(max-width: 768px){
    .mains{
        display: flex;
        align-items: center;  
    }
    .header{
        max-width: 100%;
        display: none;
    }
    .mnu_top{
        font-size: 0.80em;
        gap: 10px;
    }
}
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .mnu_top{
    display: flex;
  }
}
@media (max-width: 767px) {
    .header{
        display: flex;
    }
  .hamburger {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
  }
  .mnu_top {
    display: none;
    flex-direction: column;
  }
  .mnu_top.show {
    display: flex;
  }
}