@media  screen and (max-width: 1200px) {
    .header{
        gap: 30pxpx;
    }
    .footer{
        margin-left: 50px;
    }
}
@media screen and(max-width: 992px) {
    .header{
        gap: 50px;
    }
}

@media screen and(max-width: 768px){
    .mains{
        display: flex;
        align-items: center;  
    }
}
@media screen and(max-width: 2342px ){
    
}