@media   (max-width: 1200px) {

}
@media screen and(max-width: 992px) {

}

@media (max-width: 768px){
    .mains{
        display: flex;
        align-items: center;  
    }
    .header{
        max-width: 100%;
        display: none;
    }
    .mnu_top{
        font-size: 0.80em;
        gap: 10px;
    }
}
@media (min-width: 768px) {
  .conteiner{
    gap: 60px;
  } 
  .menu{
    display: none;
  }
  
  .hamburger {
    display: none;
  }
  .mnu_top{
    display: flex;
  }
}
@media (max-width: 767px) {
    .header{
    display: flex;
    }
  .hamburger {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
  }
  .mnu_top {
    display: none;
    flex-direction: column;
  }
  .mnu_top.show {
    display: flex;
  }
  .container{
    display: flex;
    gap: 100px;
  }
}