.body{
 background: linear-gradient(to top,#B69E9E 9%, #89D673);
}
img{
  max-width: 100%;
}
header .conteiner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  max-width: 100%;
}
header{
  max-width: 100%;
  background-color: #89D673;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  
}

.mnu_top{
  display: flex;
  padding-left: 10px;
}

img{
  max-width: 100%;
}
header .logo{
  max-width: 100px;
  display: block;
}

header .mnu_top li{
  display: inline-block;
  list-style-type: none;
  padding: 0 8px;
}

.katal{
  display:flex ;  
  padding: 0px;
}

.hello{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 100px;

}


.all{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 200px;
}

.images{
  display: flex;
  gap: 70px;

}



.underline{
  background-color: #7573d6;
  color: white;
}

.about{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about-text{
  display: flex;
  flex-direction: column;
  
}



.footer{
  display: flex;
  justify-content: center;
  margin-top: 300px;
}

.course-row{
  display: flex;
  align-items: stretch;
  gap: 34px;
}

.course-desc{
  background-color: #D9D9D9;
  border-radius: 30px;
  margin: 0px;
  display: flex;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
}
.course-des{
    background-color: #D9D9D9;
  border-radius: 30px;
  margin: 0px;
  display: flex;
  align-items: center;
}

.course-IT{
  display: flex;
  gap: 34px;
}
.courses{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
}

.teachers{
  display: flex;
  flex-direction: column;
}
.teacher{
display: flex;
background-color: #B69E9E;
gap: 40px;

}
.teacher-info{
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 00px;
  box-sizing: 100px;
  background-color: #B69E9E;
}


.teachers{
  gap: 40px;
}
.page{
  gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Anna{
  display: flex;
  gap: 30px;
}
.Max{
  display: flex;
  gap: 30px;
}
.Sergay{
  display: flex;
  gap: 30px;
}
.teacher-inform{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
  border-radius: 30px;
    padding-right: 70px;
  padding-left: 20px;
}

.teacher-informs{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
  border-radius: 30px;
  padding-right: 70px;
  padding-left: 20px;
}

.teacher-informis{
    display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
  border-radius: 30px;
  padding-right: 197px;
  padding-left: 0px;
}

.hero{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 90px;
}
.middle-img{
  margin-left: 650px;
  margin-bottom: 100px;
}
.zaiava{
  display: flex;
  justify-content: space-around;
  width: 300px;
  height: 50px;
  margin-left:1300px;
}
.hero-img{
  display: flex;
  flex-direction: column;
  gap: 300px;
}
.main{
  margin: 100px;
}

.kintakts{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.seti{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mains{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}
.katal{
  align-items: center;
  background: transparent;
  border: none;
  margin-right: 0px;
  cursor: pointer;
  border-radius: 30px;
  width: 70px;

}


.Instagram{
  display: flex;
  gap: 10px;
}
.Facebook{
  display: flex;
  gap: 10px;
}

.VK{
  display: flex;
  gap: 10px;
}

.kontakt{
  border-radius: 30px;
  width: 80px;

}
.shool{
  border-radius: 30px;
  width: 60px;
  padding-right: 10px;
}
.teacherss{
  border-radius: 30px;
  width: 130px;
  padding-left: 0px;
}
.vhod{
  border-radius: 30px;
  width: 60px;
  padding-left: 0px;
}


.menu__body {
  position: fixed;
  top: 0;
  right: -250px; 
  width: 250px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  transition: right 0.3s ease;
  z-index: 1000;
  padding-top: 60px; 
}


.menu__body.active {
  right: 0;
}


.menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: none;
  z-index: 999;
}

.menu__overlay.active {
  display: block;
}

#hamburger-1 {
  cursor: pointer;
  width: 30px;
  height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  margin: 10px;
}

.line {
  display: block;
  height: 3px;
  background-color: #000;
  border-radius: 2px;
}
